xml-schema/xml-schemas/examples/tests/AttributeExamples.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.attribute-examples.org"
            xmlns="http://www.attribute-examples.org"
            xmlns:coordinate="http://www.coordinates.org"
            elementFormDefault="qualified">

    <!-- ************************************** -->
    <!--                Version #1              -->
    <!-- ************************************** -->

    <xsd:element name="image_v1">
        <xsd:complexType>
            <xsd:attribute name="src_v1" type="xsd:anyURI" default="http://www.xfront.com"/>
        </xsd:complexType>
    </xsd:element>

    <!-- ************************************** -->
    <!--                Version #2              -->
    <!-- ************************************** -->

    <xsd:element name="image_v2">
        <xsd:complexType>
            <xsd:attribute ref="src_v2" default="http://www.xfront.com"/>
        </xsd:complexType>
    </xsd:element>

    <xsd:attribute name="src_v2" type="xsd:anyURI"/>

    <!-- ************************************** -->
    <!--                Version #3              -->
    <!-- ************************************** -->

    <xsd:element name="image_v3">
        <xsd:complexType>
            <xsd:attribute ref="src_v3"/>
        </xsd:complexType>
    </xsd:element>

    <xsd:attribute name="src_v3" type="xsd:anyURI" default="http://www.xfront.com"/>

    <!-- ************************************** -->
    <!--                Form #2                 -->
    <!--        (See complexType below)         -->
    <!-- ************************************** -->

    <xsd:element name="AircraftsMaxSpeed">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Boeing747" type="speed"/>
                <xsd:element name="f-16" type="speed"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <!-- ************************************** -->
    <!--                Form #3                 -->
    <!-- ************************************** -->

    <xsd:element name="Paint">
        <xsd:complexType>
             <xsd:attribute name="color" type="xsd:string" use="required"/>
        </xsd:complexType>
    </xsd:element>

    <!-- ************************************** -->
    <!--                Form #4                 -->
    <!-- ************************************** -->

    <xsd:element name="GeometricObjects">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Object" maxOccurs="unbounded">
                    <xsd:complexType>
                        <xsd:attribute name="shape" default="triangle">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:enumeration value="square"/>
                                    <xsd:enumeration value="triangle"/>
                                    <xsd:enumeration value="circle"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <!-- ************************************** -->
    <!--                Form #5                 -->
    <!-- ************************************** -->

    <xsd:element name="FlagColors">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="US-flag">
                    <xsd:complexType>
                        <xsd:attribute name="colors" fixed="red white blue">
                            <xsd:simpleType>
                                <xsd:list itemType="xsd:string"/>
                            </xsd:simpleType>
                        </xsd:attribute>
                   </xsd:complexType>
               </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <!-- ************************************** -->
    <!--                Form #6                 -->
    <!-- ************************************** -->

    <xsd:element name="Desk">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Item" maxOccurs="unbounded">
                    <xsd:complexType>
                        <xsd:attribute name="accessory" use="required">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:enumeration value="pencil"/>
                                    <xsd:enumeration value="ruler"/>
                                    <xsd:enumeration value="compass"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <!-- ************************************** -->
    <!--                Form #7                 -->
    <!-- ************************************** -->

    <xsd:element name="Widget">
        <xsd:complexType>
            <xsd:attribute name="type" type="xsd:string" use="required">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        This attribute, type, is used to describe the type of widget.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
   </xsd:element>

   <xsd:element name="Gadget">
       <xsd:complexType>
           <xsd:attribute name="type" use="required">
               <xsd:annotation>
                   <xsd:documentation xml:lang="EN">
                       This attribute, type, is used to describe the type of widget.
                   </xsd:documentation>
               </xsd:annotation>
               <xsd:simpleType> 
                   <xsd:restriction base="xsd:string">
                       <xsd:enumeration value="flipper"/>
                       <xsd:enumeration value="frapper"/>
                       <xsd:enumeration value="flopper"/>
                   </xsd:restriction>
               </xsd:simpleType>
           </xsd:attribute>
       </xsd:complexType>
    </xsd:element>


    <!-- ************************************** -->
    <!--                Form #8                 -->
    <!--   Not implemented yet by validators    -->
    <!-- ************************************** -->

    <!--xsd:element name="Location">
        <xsd:complexType>
            <xsd:attribute name="xy" type="xsd:string" use="required" 
                           coordinate:x="10" coordinate:y="20"/>
        </xsd:complexType>
    </xsd:element-->

    <!-- ************************************** -->
    <!--         Shows use of prohibited        -->
    <!--        (See complexTypes below)        -->
    <!-- ************************************** -->

    <xsd:element name="ObjectShapes">
         <xsd:complexType>
              <xsd:sequence>
                   <xsd:element name="glob" type="shape"/>
                   <xsd:element name="computer-monitor" type="box"/>
              </xsd:sequence>
         </xsd:complexType>
    </xsd:element>

    <!-- ************************************** -->
    <!-- Shows three ways to declare attributes -->
    <!--        (See complexType below)         -->
    <!-- ************************************** -->

    <xsd:element name="Beechcraft" type="Airplane"/>

    <!-- ************************************** -->
    <!--                Form #2                 -->
    <!-- ************************************** -->

    <xsd:complexType name="speed">
        <xsd:simpleContent>
            <xsd:extension base="xsd:nonNegativeInteger">
                <xsd:attribute name="units" type="xsd:string" fixed="knots"/> 
            </xsd:extension>                           
        </xsd:simpleContent>
    </xsd:complexType>

    <!-- ************************************** -->
    <!--         Shows use of prohibited        -->
    <!-- ************************************** -->

    <xsd:complexType name="shape">
        <xsd:attribute name="length" type="xsd:nonNegativeInteger"/>
        <xsd:attribute name="height" type="xsd:nonNegativeInteger"/>
        <xsd:attribute name="width" type="xsd:nonNegativeInteger"/>
        <xsd:attribute name="radius" type="xsd:nonNegativeInteger"/>
        <xsd:attribute name="diameter" type="xsd:nonNegativeInteger"/>
    </xsd:complexType>

    <xsd:complexType name="box">
        <xsd:complexContent>
            <xsd:restriction base="shape">
                <xsd:attribute name="length" type="xsd:nonNegativeInteger"/>
                <xsd:attribute name="height" type="xsd:nonNegativeInteger"/>
                <xsd:attribute name="width" type="xsd:nonNegativeInteger"/>
                <xsd:attribute name="radius" type="xsd:nonNegativeInteger" use="prohibited"/>
                <xsd:attribute name="diameter" type="xsd:nonNegativeInteger" use="prohibited"/>
            </xsd:restriction>
        </xsd:complexContent>
    </xsd:complexType>

    <!-- ************************************** -->
    <!-- Shows three ways to declare attributes -->
    <!-- ************************************** -->

    <xsd:complexType name="Airplane">
        <xsd:attribute name="altitude" type="xsd:integer"/>
        <xsd:attribute ref="speed"/>
        <xsd:attributeGroup ref="physicalCharacteristics"/>
    </xsd:complexType>

    <xsd:attribute name="speed" type="xsd:decimal"/>

    <xsd:attributeGroup name="physicalCharacteristics">
        <xsd:attribute name="weight" type="xsd:decimal"/>
        <xsd:attribute name="wing-span" type="xsd:decimal"/>
    </xsd:attributeGroup>

    <xsd:element name="AttributeExamples">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="image_v1"/>
                <xsd:element ref="image_v2"/>
                <xsd:element ref="image_v3"/>
                <xsd:element ref="AircraftsMaxSpeed"/>
                <xsd:element ref="Paint"/>
                <xsd:element ref="GeometricObjects"/>
                <xsd:element ref="FlagColors"/>
                <xsd:element ref="Desk"/>
                <xsd:element ref="Widget"/>
                <xsd:element ref="Gadget"/>
                <xsd:element ref="ObjectShapes"/>
                <xsd:element ref="Beechcraft"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>



</xsd:schema>

