xml-schema/xml-schemas/examples/example13/Image.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.photography.org"
            xmlns="http://www.photography.org"
            elementFormDefault="qualified">
    <xsd:element name="gallery">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="image" maxOccurs="unbounded">
                    <xsd:complexType>
                        <xsd:attribute name="href" type="xsd:anyURI" use="required"/>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>