XmlSchema_Course_Modules/XmlSchema_Course_Modules_Version_1.xsd.bak

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://tempuri.org/XMLSchema.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/XMLSchema.xsd"
    xmlns:mstns="http://tempuri.org/XMLSchema.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
<xs:complexType name="professorType">
  <xs:sequence>
    <xs:element name="ProfessorName" minOccurs="0"></xs:element>
    <xs:element name="phone" minOccurs="0" maxOccurs="unbounded"></xs:element>
    <xs:element name="email" minOccurs="0" maxOccurs="unbounded"></xs:element>
    <xs:element name="professorLinkDescription" minOccurs="0" maxOccurs="unbounded">
      <xs:complexType>
        <xs:simpleContent>
          <xs:extension base="xs:string">
            <xs:anyAttribute namespace="http://www.w3.org/1999/xlink"/>
          </xs:extension>
        </xs:simpleContent>
      </xs:complexType>
    </xs:element>
  </xs:sequence>    
</xs:complexType>  
<xs:complexType name="professorsType">
  <xs:sequence>
    <xs:element name="professor" type="professorType" maxOccurs="unbounded"></xs:element>
  </xs:sequence>    
</xs:complexType>  
<xs:complexType name="allowedTracksType">
  <xs:sequence>
    <xs:element name="track" type="xs:string" maxOccurs="unbounded"></xs:element>
  </xs:sequence>
</xs:complexType>
<xs:complexType name="termsType">
  <xs:sequence>
    <xs:element name="term" type="xs:string" maxOccurs="unbounded"></xs:element>
  </xs:sequence>
</xs:complexType>
<xs:complexType name="preRequisitesType">
  <xs:sequence>
    <xs:element name="preRequisite" type="xs:string" maxOccurs="unbounded"></xs:element>
  </xs:sequence>
</xs:complexType>
<xs:element name="modules">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="module" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="school" type="xs:string" minOccurs="0"></xs:element>
            <xs:element name="moduleName" type="xs:string"></xs:element>
            <xs:element name="moduleCode" type="xs:string"></xs:element>
            <xs:element name="professors" type="professorsType" minOccurs="0"></xs:element>
            <xs:element name="status" type="xs:string" minOccurs="0"></xs:element>
	    <xs:element name="requiredFor" type="xs:string" minOccurs="0"></xs:element>
	    <xs:element name="allowedTracks" type="allowedTracksType" minOccurs="0"></xs:element>
            <xs:element name="numberOfCredits" type="xs:string" minOccurs="0"></xs:element>
	    <xs:element name="teachingTermsAllowed" type="termsType" minOccurs="0"></xs:element>
	    <xs:element name="preRequisites" type="preRequisitesType" minOccurs="0"></xs:element>
	    <xs:element name="description" type="xs:string" minOccurs="0"></xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>   
    </xs:sequence>
  </xs:complexType>
</xs:element>
</xs:schema>
