xml-schema/xml-schemas/examples/net-centric-xml-example/monolithic-version/Book.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.book.org"
            elementFormDefault="qualified">

    <element name="Book">
        <complexType>
            <sequence>
                <element name="Title" type="string"/>
                <element name="Author" type="string"/>
                <element name="Date" type="gYear"/>
                <element name="ISBN" type="string"/>
                <element name="Publisher" type="string"/>
            </sequence>
        </complexType>
    </element>
</schema>