xml-schema/xml-schemas/examples/example18/Olympus.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.olympus.com"
            xmlns="http://www.olympus.com"
            elementFormDefault="qualified">
    <xsd:complexType name="lens_type">
        <xsd:sequence>
            <xsd:element name="zoom" type="xsd:string"/>
            <xsd:element name="f-stop" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>