xml-schema/xml-schemas/examples/example11/BinaryString.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.binary.org"
            xmlns="http://www.binary.org"
            elementFormDefault="qualified">
    <xsd:element name="binary-string">
        <xsd:complexType>
            <xsd:choice minOccurs="0" maxOccurs="unbounded">
                <xsd:element name="zero" type="xsd:unsignedByte" fixed="0"/>
                <xsd:element name="one" type="xsd:unsignedByte" fixed="1"/>
            </xsd:choice>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>